// Navigation Styles here

header {
    border-bottom: 2px dashed @navigation-border;
    
    .navtext { // includes header and nav
        max-width: 800px;
        .flexDisplay(space-between, center);
        flex-wrap: wrap;
        margin: 20px auto;

        nav { 
            .flexDisplay(space-around, center);
    
            a {
                text-decoration: none;
                margin-left: 4rem;
                color: black;
                font-size: 1.6rem;
            }
        }
    }

    // // nav links
    // nav { 
    //     .flexDisplay(space-around, center);

    //     a {
    //         text-decoration: none;
    //         margin-left: 4rem;
    //         color: black;
    //         font-size: 1.6rem;
    //     }
    // }

    @media @mobile {
        margin: 10px 0 5px 0;
        justify-content: center;
        align-items: center;

        h1 {
            width: 100%;
            text-align: center;
        }

        nav {
            justify-content: space-between;
            a {
                margin: 0;
            }
        }
    }
} 