// Navigation Styles here

header {
    border-bottom: 2px dashed @navigation-border;

    .home {
        .flexDisplay(space-between, center);
        margin: 20px auto;
    }
    
    nav {
        
        .flexDisplay(space-around, center);
        a {
            text-decoration: none;
            margin-left: 3rem;
            color: black;
            font-size: 1.6rem;
        }
    }
}
